<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>IntelliDrive</title>
<style type="text/css">
@import url("../static/styles/styles.css");
</style>

</head>

<body>
  <nav class="navbar">
      <div class="brand-name"><b>IntelliDrive</b></div>
      <div>
        <a href="#">Mode</a>
        <a href="../static/help.html">Help</a>
      </div>
    </nav>
    
 
  <div id= "rpm_box">
  <h1 id= "rpm" color="black" align="center">RPM</h1>
    </div>

  <div id= "speed_box">
  <h1 id= "speed" olor="black" align="center">SPEED</h1>
    </div>
    
  <div id= "temperature_box">
    <h1 id= "temperature" olor="black" align="center">TEMPERATURE</h1>
      </div>

  <div id= "pressure_box">
    <h1 id= "pressure" olor="black" align="center">PRESSURE</h1>
      </div>
        






    <script>
        const socket = new WebSocket('ws://localhost:8000');
            socket.addEventListener('open', function (event) {
            socket.send('Connection Established');
        });
          socket.addEventListener('rpm', function (event) {
            const rpm = event.data;
            const element = document.querySelector('#rpm');
            element.textContent = rpm;
          });
    </script>


</body>
</html>
