<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>IntelliDrive</title>
<style type="text/css">
@import url("../static/styles/styles.css");
</style>

</head>
<body>
  <nav class="navbar">
      <div class="brand-name"><b>IntelliDrive</b></div>
      <div>
        <a href="#">Mode</a>
        <a href="../static/help.html">Help</a>
      </div>
    </nav>
  <h1 id="rpm"></h1>
    <script>
        const socket = new WebSocket('ws://localhost:8000');
            socket.addEventListener('open', function (event) {
            socket.send('Connection Established');
        });
          socket.addEventListener('rpm', function (event) {
            const rpm = event.data;
            const element = document.querySelector('#rpm');
            element.textContent = rpm;
          });
    </script>


</body>
</html>
