body {
margin: 0px;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #fff;
  padding: 10px;
}

/* Mode and Help links styling */
.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
	font-size: 20px;
  }

.navbar a:hover {
  color: #949494;
  text-decoration: none;
  margin-left: 10px;
  }

/* Centering brand name */
.brand-name {
  text-align: center;
	font-size: 27px;
  }